#python
__pycache__/
*.pyc
*.pyo
*.pyd

#migrations
migrations/

#environment
env/
.env

#database
*.sqlite3

#logs
*.log

#media
media/
staticfiles/

#IDE
.vscode/
.idea/

#system files
Thumbs.db
*.db
*.DS_Store
